<header class="row header"> <!-- Header -->
  <div class="twelve columns">
    <h1>Login</h1>
    <h4 class="subheader"> Contact Administrator for Your login credentials! </h4>
  </div>
  </header> <!-- End Header -->

<div class="row">
  <div class="six columns">
    <%= form_tag sessions_path do %>
      <div class="row collapse">
        <div class="two columns">
          <%= label_tag :email %>
        </div>
        <div class="ten columns">
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>

      <div class="row collapse">
        <div class="two columns">
          <%= label_tag :password %>
        </div>
        <div class="ten columns">
          <%= password_field_tag :password %>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <%= submit_tag "Sign in", class: "radius button right" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
