<header class="row header"> <!-- Header -->
<div class="twelve columns">
  <div class="row">
    <div class="twelve columns">
      <h4 class="subheader">Upload more images</h4>
    </div>

    <div class="twelve columns">
      <div id="image_upload_message" class="twelve">
        <span class="message"></span>
      </div>
    </div>
  </div>
</div>
</header> <!-- End Header -->

<div class="row">
  <div class="twelve columns">
    <%= s3_uploader_form post: admin_product_product_images_url(@admin_product), as: "product_image[remote_image_url]" do %>
      <span class="radius button fileinput-button">
        <span>Add More Images</span>
        <%= file_field_tag :file, multiple: true %>
      </span>
    <% end %>
  </div>
  <div id="upload_templates_wrapper" class="twelve columns"> </div>
</div>
