<div class="thumbImageWrapper three columns">
  <%= image_tag image.image_url(:thumb), class: 'thumbImage' %>
  <%= link_to ['admin', @admin_product, image], method: 'delete', class: 'deleteImage' do %>
    <i class="general foundicon-trash"> </i>
  <% end %>
</div>
