<div class="row">
  <div class="twelve columns">

    <%= form_for [:admin, @admin_brand] do |f| %>
      <% if @admin_brand.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_brand.errors.count, "error") %> </h2>
          <ul>
            <% @admin_brand.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit "Save brand", :class => "rounded button right" %>
      </div>
    <% end %>

  </div>
</div>
