<header class="row header"> <!-- Header -->
<div class="twelve columns">
  <div class="row">
    <%= link_to admin_brands_path do %>
      &larr; Bact to All Brands List
    <% end %>
  </div>
</div>

<div class="twelve columns">
  <h1>Edit: <%= @admin_brand.name %></h1>
  <h4 class="subheader">Edit brand. Delete brand.</h4>
  <div class="actions">
    <%= link_to 'Delete this item!', admin_brand_path(@admin_brand), method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny button alert' %>
  </div>
</div>
</header> <!-- End Header -->

<%= render 'form' %>
