<header class="row header"> <!-- header -->
<div class="twelve columns">
  <h1>Brands List</h1>
  <h4 class="subheader">Select brand to edit. Delete brand.</h4>
  <%= link_to '+ New Brand', new_admin_brand_path, class: 'small button' %>
</div>
</header> <!-- end header -->

<div class="row">
  <table class="twelve">
    <thead>
      <tr>
        <th>Brand Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @admin_brands.each do |admin_brand| %>
        <tr>
          <td><%= link_to admin_brand.name, edit_admin_brand_path(admin_brand) %></td>
          <td><%= link_to 'Destroy', admin_brand_path(admin_brand), method: :delete, data: { confirm: 'Are you sure?' }, class: 'label radius alert' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
