<header class="row header"> <!-- Header -->
  <div class="twelve columns">
    <h1>New Brand</h1>
    <h4 class="subheader">Add New Brand.</h4>
    <div class="row">
      <div class="twelve columns">
        <%= link_to admin_brands_path do %>
          &larr; Bact to All Brands List
        <% end %>
      </div>
    </div>
  </div>
</header> <!-- End Header -->

<%= render 'form' %>

