<header class="row header"> <!-- Header -->
  <div class="twelve columns">
    <h1>Welcome to LenchyLux</h1>
    <h4 class="subheader">Tagline Everything you need to know to build for the future.</h4>
  </div>
</header> <!-- End Header -->

<div class="row"> <!-- Thumbanails -->
  <div class="twelve columns">
    <div id="featured_products" class="row">
      <% Product.limit(4).each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>
</div> <!-- End Thumbnails -->

<div class="row">
  <div class="twelve columns">
    <h5>
      <%= link_to products_path do %>
        Explore All Products &rarr;
      <% end %>
    </h5>
  </div>
</div>

<%= render 'layouts/horizontal_divider' %>
<div class="row about">
  <div class="six columns"> <!-- Left column -->
    <div class="panel">
      <h4>About this webshop</h4>
      <h5 class="subheader">Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros. Pellentesque consectetur tempus mi iaculis bibendum. Ut vel dolor sed eros tincidunt volutpat ac eget leo.</h5>
      <a href="#">Read More About Us →</a>
    </div>

    <div class="row">
      <div class="six mobile-two columns">
        <div class="panel">
          <h5>Contact Us</h5>
          <h6 class="subheader">Send message from our contact form.</h6>
          <a href="#" class="small button">Contact us</a>
        </div>
      </div>

      <div class="six mobile-two columns">
        <div class="panel social-box">
          <h5>Follow Us</h5>
          <h6 class="subheader">Be Social.</h6>
          <ul class="inline-list">
            <li><a href="#"><i class="social foundicon-facebook"></i></a></li>
            <li><a href="#"><i class="social foundicon-twitter"></i></a></li>
            <li><a href="#"><i class="social foundicon-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- End left column-->

  <div class="six columns"> <!-- Right column-->
    <div class="panel secondary recentlyPosted">
      <h4>Recently posted on our blog</h4>
      <ul class="list">
        <li>
          <a href="#">Blog post title</a>
          <p>Teaser or subtitle of blog post</p>
          </li>

        <li>
          <a href="#">Blog post title</a>
          <p>Teaser or subtitle of blog post</p>
          </li>

        <li>
          <a href="#">Blog post title</a>
          <p>Teaser or subtitle of blog post</p>
          </li>

        <li>
          <a href="#">Blog post title</a>
          <p>Teaser or subtitle of blog post</p>
        </li>
      </ul>
      <a href="#">Read More About Us →</a>
    </div>
  </div> <!-- End right column -->
</div>
