<header class="row header"> <!-- Header -->
<div class="twelve columns">
  <div class="row">
    <%= link_to admin_categories_path do %>
      &larr; Bact to All Categories List
    <% end %>
  </div>
</div>

<div class="twelve columns">
  <h1>Edit: <%= @admin_category.name %></h1>
  <h4 class="subheader">Edit category. Delete category.</h4>
  <div class="actions">
    <%= link_to 'Delete this item!', admin_category_path(@admin_category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny button alert' %>
  </div>
</div>
</header> <!-- End Header -->

<%= render 'form' %>
