<header class="row header"> <!-- header -->
<div class="twelve columns">
  <h1>Categories List</h1>
  <h4 class="subheader">Select category to edit. Delete category.</h4>
  <%= link_to '+ New Category', new_admin_category_path, class: 'small button' %>
</div>
</header> <!-- end header -->

<div class="row">
  <table class="twelve">
    <thead>
      <tr>
        <th>Category Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @admin_categories.each do |admin_category| %>
        <tr>
          <td><%= link_to admin_category.name, edit_admin_category_path(admin_category) %></td>
          <td><%= link_to 'Destroy', admin_category_path(admin_category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'label radius alert' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
