<header class="row header"> <!-- Header -->
  <div class="twelve columns">
    <h1>New Category</h1>
    <h4 class="subheader">Add New Category.</h4>
    <div class="row">
      <div class="twelve columns">
        <%= link_to admin_categories_path do %>
          &larr; Bact to all categories List
        <% end %>
      </div>
    </div>
  </div>
</header> <!-- End Header -->

<%= render 'form' %>

