<div class="row">
  <div class="twelve columns">

    <%= form_for [:admin, @admin_product] do |f| %>
      <% if @admin_product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_product.errors.count, "error") %> </h2>

          <ul>
            <% @admin_product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, rows: 3, class: 'ckeditor' %>
      </div>

      <div class="field">
        <%= f.label :price %><br />
        <%= f.text_field :price %>
      </div>

      <div class="field">
        <%= f.label :category %><br />
        <%= f.collection_select :category_id, Category.all_categories, :id, :name, :include_blank => true %>
      </div>

      <div class="field">
        <%= f.label :brand %><br />
        <%= f.collection_select :brand_id, Brand.all_brands, :id, :name, :include_blank => true %>
      </div>

      <div class="actions">
        <%= f.submit "Save product", :class => "rounded button right" %>
      </div>
    <% end %>

  </div>
</div>
