<header class="row header"> <!-- Header -->
<div class="twelve columns">
  <div class="row">
    <%= link_to admin_products_path do %>
      &larr; Bact to All Products List
    <% end %>
  </div>
</div>

<div class="twelve columns">
  <h1>Edit: <%= @admin_product.title %></h1>
  <h4 class="subheader">Edit product info. Delete product. Add or delete product images.</h4>
  <div class="actions">
    <%= link_to 'Delete this item!', admin_product_path(@admin_product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny button alert' %>
  </div>
</div>
</header> <!-- End Header -->

<%= render 'form' %>

<%= render 'admin/product_images/form' %>

<div class="twelve columns">
  <div class="row">
    <div class="twelve columns productImages admin">
      <div id="product_images" class="row">
        <% @admin_product.product_images.each do |product_image| %>
          <%= render '/admin/product_images/product_thumb', image: product_image %>
        <% end %>
      </div>
    </div>
  </div>
</div>
