<header class="row header"> <!-- header -->
  <div class="twelve columns">
    <h1>All products</h1>
    <h4 class="subheader">Select item from list to edit or upload image for it.</h4>
    <%= link_to '+ New Product', new_admin_product_path, class: 'small button' %>
  </div>
  </header> <!-- end header -->


<div class="row">
  <div class="twelve columns">
    <div class="row">
      <% @admin_products.each do |product| %>
        <%= render '/products/product', product: product %>
      <% end %>
    </div>
  </div>
</div>


