<header class="row header"> <!-- Header -->
  <div class="twelve columns">
    <h1>New Product</h1>
    <h4 class="subheader">Add New Product.</h4>
    <div class="row">
      <div class="twelve columns">
        <%= link_to admin_products_path do %>
          &larr; Bact to All Products List
        <% end %>
      </div>
    </div>
  </div>
</header> <!-- End Header -->

<%= render 'form' %>

