@import "foundation/mixins/clearfix";

.adminProductWrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}

#images_upload_progress {
  display: none;
}

.uploadProductImageWrapper {
  width: 220px;
  background: #1E728C;
  text-align: center;

  input {
    height: 25px;
    width: 220px;
  }
  input {
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.productImages {
  .thumbImageWrapper {
    @include clearfix;
    position: relative;
    .deleteImage {
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: 16px;
      color: #D14836;
      background: #000;
      padding: 5px;
    }
  }
}
