#container {
  margin-top: 30px;
}

#notice_messages_container {
  margin-top: 25px;
}

ul {
  list-style: none;
}

.header {
  margin-bottom: 25px;
}

.about {
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
}

.panel.secondary {
  background: #fff;
}

.social-box {
  i {
    font-size: 29px;
  }
}

.recentlyPosted {
  height: 423px;
}

.productImages {
  .featuredImage {
    margin-bottom: 10px;
  }
  .thumbImage {
    margin-bottom: 10px;
  }
}

.field {
  margin-bottom: 25px;
}
