<header class="row header"> <!-- Header -->
  <div class="twelve columns">
    <h1><%= @category.name %></h1>
    <h4 class="subheader">Products for Category <%= @category.name %>.</h4>
  </div>
</header> <!-- End Header -->

<div class="row"> <!-- Thumbanails -->
  <div class="twelve columns">
    <div id="featured_products" class="row">
      <% @category.products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>
</div> <!-- End Thumbnails -->
