<div class="three mobile-two columns productThumbWrapper">
  <!-- product image -->
  <%= link_to product do %>
    <% if product.featuring_image(:thumb) %>
      <%= image_tag product.featuring_image(:thumb) %>
    <% else %>
      <img src="http://placehold.it/1000x1000&text=Thumbnail">
    <% end %>
  <% end %>

  <!-- product info -->
  <div class="panel">
    <h5><%= link_to product.title, product %></h5>
    <h6 class="subheader">$<%= product.price %></h6>

    <!-- Admin edit action -->
    <% if current_user %>
      <%= link_to "Edit item", edit_admin_product_path(product), :class => "tiny button" %>    
    <% end %>
  </div>
</div>
