<header class="row header"> <!-- Header -->
  <div class="twelve columns">
    <h1>Explore Products</h1>
    <h4 class="subheader">All Products.</h4>
  </div>
</header> <!-- End Header -->

<div class="row"> <!-- Thumbanails -->
  <div class="twelve columns">
    <div id="featured_products" class="row">
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>
</div> <!-- End Thumbnails -->
