<header class="row header"> <!-- Header -->
<div class="twelve columns">
  <h1><%= @product.title %></h1>
  <h4 class="subheader">
    <%= link_to 'Products', root_url %> /
    <%= link_to @product.category.name, @product.category %>
  </h4>
</div>
</header> <!-- End Header -->

<div class="row">
  <div class="twelve columns">
    <div class="row">

      <div class="six columns">
        <div class="row">
          <div class="nine columns">
            <% if @product.featuring_image(:scaled) %>
              <%= link_to @product.featuring_image(:scaled), :class => 'gallery', :rel => 'group' do %>
                <%= image_tag @product.featuring_image(:large) %>
              <% end %>
            <% else %>
              <img src="http://placehold.it/1000x1000&text=Thumbnail">
            <% end %>
          </div>
          <div class="three columns">
            <% @product.product_images.each do |image| %>
              <div class="row">
                <div class="twelve columns">
                  <%= link_to image.image_url(:scaled), :class => 'gallery', :rel => 'group', 'image-id' => image.id do %>
                    <%= image_tag image.image_url(:thumb) %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="six columns">
        <p><%= @product.description.html_safe %></p>
        <h4 class="subheader">$<%= @product.price %></h4>
        <a href=# class="small button">Contact Seller About This Item</a>
      </div>

    </div>
  </div>
</div>
