<div class="contain-to-grid fixed" id="top_navigation"> <!-- Navigation-->
  <nav class="top-bar fixed">
  <ul>
    <li class="name"><h1><a href="/admin/products">Admin area</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
    <ul class="left">
      <li class="has-dropdown">
      <a href="#">Manage Products</a>
      <ul class="dropdown">
        <li> <%= link_to "List products", admin_products_path %> </li>
        <li> <%= link_to "Add New Product", new_admin_product_path %> </li>
      </ul>
      </li>
      <li> <%= link_to "Manage Brands", admin_brands_path %> </li>
      <li> <%= link_to "Manage Categories", admin_categories_path %> </li>
    </ul>

    <ul class="right">
      <% if current_user %>
        <li>
          <%= link_to "Logout(Admin)", logout_path %>
        </li>
      <% end %>
    </ul>
  </section>
  </nav>
</div> <!-- End Navigation -->
