<%= render 'layouts/horizontal_divider' %>

<footer class="row footer"> <!-- Footer -->
  <div class="twelve columns">
    <div class="row">
      <div class="three columns">
        <p>&copy; Copyright webshop 2012.</p>
      </div>

      <div class="four columns">
        <ul>
          <% Category.find_each do |category| %>
            <li> <%= link_to category.name, category %> </li>
          <% end %>
        </ul>
      </div>

      <div class="five columns">
        <ul class="link-list right">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer> <!-- End Footer -->
