<div class="contain-to-grid fixed" id="top_navigation"> <!-- Navigation-->
  <nav class="top-bar fixed">
  <ul>
    <li class="name"><h1><a href="/">StoreName</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
  <ul class="left">
    <li><a href="/">Trending</a></li>

    <li class="has-dropdown">
    <a href="#">Categories</a>
    <ul class="dropdown">
      <% Category.find_each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
    </li>

    <li class="has-dropdown">
    <a href="#">Brands</a>
    <ul class="dropdown">
      <% Brand.find_each do |brand| %>
        <li><%= link_to brand.name, brand %></li>
      <% end %>
    </ul>
    </li>

  </ul>

  <ul class="right">
    <li><a href="#">Cart(0)</a></li>
  </ul>
  </section>
  </nav>
</div> <!-- End Navigation -->
