<div class="row" id="notice_messages_container">
  <div class="twelve columns">
    <% flash.each do |type, message| %>
      <%= content_tag :div, :class => "alert-box #{type}" do %>
        <%= message %>
        <a class="close" href="">×</a>
      <% end %>
    <% end %>
  </div>
</div>
